$small-gutters: 7.5px;

$default-color: #444444;
$default-border-color: #dee2e6;
$biloba-flower: #e199ea;
$razzle-dazzle-rose: #F24CE4;
$bunting: #13194A;
$pigment-indigo: #53008a;
$amethyst: #b848c2;
$scarlet: #f11c04;
$green-bean: #096E08;
$red-velvet: #EE2D1B;
$amber: #FFBF00;